- name: 检查服务器配置
run: |
  echo "警告⚠"
  echo "若分配的服务器性能不足，务必及时取消，重新运行！"
  echo "已知编译成功CPU型号：8370C,8171M"
  echo "已知性能不足CPU型号：8272CL"
  echo -e "-------------- ------------CPU信息------------------------------------------\n"
  echo "CPU物理数量:$(cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l)"
  echo -e "CPU核心及版本信息：$(cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c) \n"
  echo "-------------------------------内存信息-------------------------------------------"
  echo "已安装内存详细信息："
  sudo lshw -short -C memory | grep GiB
  echo -e "\n"
  echo "-----------------------------硬盘信息---------------------------------------------"
  echo -e  "硬盘数量：$(ls /dev/sd* | grep -v [1-9] | wc -l) \n"
  echo "硬盘详情："
  df -Th