name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - run: lscpu
      - run: free -m
      - run: df -Th
      - run: apt install curl -y
      - run: curl https://raw.githubusercontent.com/LemonBench/LemonBench/master/LemonBench.sh | bash -s fast
